<!DOCTYPE html>
<html>
  <head>
    <title>Memory Share</title>
    <link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon">
  </head>
  <body>
    <main>
    </main>
    <footer>
    </footer>
  </body>
</html>
